.paket {
     animation: paket_anim 2s 1;
}

.text-paket {
     font-family:Arial, Helvetica, sans-serif;
     line-height: 3px;
     
}

.paket-isi {
     padding: 2px;     
}

.paket {

     background-image: url('img/star.jpg');
}
